<!DOCTYPE html>
<html lang=en dir=ltr>
  <head>
    <meta charset=utf-8>
    <title>ling-ref</title>
  </head>
  <body>

    <main>

      <h2>ling-ref</h2>

      <ol>
        {{#each references}}
          <li>{{> reference}}</li>
        {{/each}}
      </ol>

    </main>

  </body>
</html>
